@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: #c5e4e7;
}
input {
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  color: rgba(0, 71, 75, 1);
}
.logo {
  padding: 50px 144px 40px;
  color: #3d6666;
  text-align: center;
}
.all-in-container {
  padding: 24px;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bill h6 {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  margin-bottom: 6px;
}
.input-container {
  display: flex;
}

.input-container i {
  padding: 16px 19px;
  background-color: #f3f9fa;
  color: rgba(158, 187, 189, 1);
}
.bill-input {
  padding: 6px 18px;
  width: 100%;
  background-color: #f3f9fa;
  text-align: right;
}

.select-tip {
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 311px;
}
.button-container button {
  background: rgba(0, 71, 75, 1);
  color: white;
  padding: 6px 18px;
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 146.63px;
  border: none;
  border-radius: 5px;
}
.button-container button:focus {
  background-color: rgba(38, 194, 174, 1);
}
.select-tip h6 {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  margin-bottom: 6px;
  margin-top: 32px;
}
.select-tip input {
  font-size: 24px;
  font-weight: 700;
  line-height: 35.54px;
  text-align: right;
  width: 147px;
  background: rgba(243, 249, 250, 1);
  border-radius: 5px;
  padding-block: 6px;
  padding-right: 18px;
}
.people {
  margin-bottom: 32px;
}
.people h6 {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  margin-bottom: 6px;
  margin-top: 32px;
}
.tip-container {
  background: rgba(0, 71, 75, 1);
  border-radius: 15px;
  padding: 22px;
  width: 100%;
}
.tip-container h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
  color: rgba(255, 255, 255, 1);
}
.tip-container h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.25px;
  color: rgba(127, 157, 159, 1);
}
.tip-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
}
.span {
  font-size: 32px;
  font-weight: 700;
  line-height: 47.39px;
  letter-spacing: -0.6666666865348816px;
  color: rgba(38, 194, 174, 1);
}

.tip-container button {
  width: 100%;
  padding: 9px 32px;
  background-color: rgba(38, 194, 174, 1);
  color: rgba(0, 71, 75, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 29.62px;
  border: none;
  border-radius: 5px;
}
#hesaplaBtn{
  margin-bottom:20px ;
}

@media only screen and (min-width: 1024px) {
  .all-in-container {
    display: flex;
    justify-content: space-between;
    margin-inline: 260px;
    padding: 45px 32px 32px 46px;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
    border-radius: 25px;
  }
  .container {
    margin-right: 48px;
  }
  .tip-container {
    padding: 40px;
  }
  .select-tip h6 {
    margin-top: 40px;
  }
  .people h6 {
    margin-top: 40px;
  }
  .span {
    font-size: 48px;
    font-weight: 700;
    line-height: 71.09px;
    letter-spacing: -1px;
  }
  .tip-container button {
    background-color: rgba(13, 104, 109, 1);
  }
  .button-container {
    width: 379px;
    gap: 14px;
  }
  .button-container button {
    width: 117px;
  }
  .button-container input {
    width: 117px;
  }
  .tip-container button:active {
    background-color: rgba(159, 232, 223, 1);
  }
  .button-container button:focus {
    background-color: rgba(159, 232, 223, 1);
  }
  .input-container:hover {
    border: 2px solid rgba(38, 194, 174, 1);
  }
  .button-container input:focus {
    border: 2px solid rgba(38, 194, 174, 1);
  }
 
}
